body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    margin: 10px 0;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

form {
    max-width: 400px;
    margin: 20px 0;
}

label {
    display: block;
    margin: 5px 0;
}

label, input, select {
    display: block;
    margin: 10px 0;
}

input[type="number"], input[type="date"] {
    padding: 5px;
    margin-bottom: 10px;
}

input[type="text"], input[type="number"], input[type="date"], input[type="email"], select {
    width: 100%;
    padding: 8px;
}


button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

h3 {
    margin-top: 20px;
}